
/* make title and nav bar separate to title over nav, when screen is smaller.
contact info fixed to bottom right of view port
about me line wider
make font larger
*/

:root {
    --primary: #3e394b;
    --secondary: #d6e5e9;
}

* {
    box-sizing: border-box;
    padding: 5px;
}

body{
    background-color:var(--primary);
    color: var(--secondary);
}

/*header*/
header {
    background: rgb(180, 22, 22);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    text-decoration: underline var(--primary) 4px;
    
}

/* add to cards, mobile-flex: 0 0 100% , then, middle-size flex: 0 0 (50-75)% , then, desktop-size flex 0 0 ~25% ,*/

/*stack break for nav at 982px */
nav ol {
    list-style: none;
    display: inline-flex;
}

nav ol li a {
    text-decoration: underline var(--primary) 4px;
    font-size: 25px;
    color: var(--secondary);
}

nav a:hover {
    color: var(--primary);
}

/*hero section*/
.hero {
    height: 15%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*work*/
.work {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 60%;
}

.work h2{ 
    font-size: 32px;
    border-right: solid;
    width: 25%;
    align-self: flex-start;
}

.work-card {
    flex: 0 1 80%;
    position: relative;
}

.work-card img {
    
}

.work-card h4{
    background:rgb(180, 22, 22);
    margin-bottom: -35px;
    margin-left: 10px;
    font-size: 26px;
    position: absolute;
    right: 5%;
}

.work-card:hover {

}

/*about me*/
.aboutme {
    margin-top: 20px;
    border-top: solid;
    width: 70%;
    float:left;
}

.aboutme h2 {
    text-decoration: underline var(--secondary);
    font-size: 32px;
}

.aboutme p {
    font-size: 26px;
    margin: 20px;
}
/*contact info*/
.contact {
    align-self: flex-end;
    background-color: rgb(180, 22, 22);
    height: 40%;
    width: 25%;
    border-radius: 10px;
}

h3 {
    text-align: center;
    font-size: 26px;
    text-decoration: underline;
    color: var(--primary);
}

aside li {
    list-style: none;
}

/* add to cards, -start at- flex: 0 0 100% , 
then, middle-size (min-width:768px) flex: 0 0 (50-75)% , 
then, desktop-size (min-width: 992px) flex 0 0 ~25% ,*/

@media screen and (min-width: 768px) {
    .work-card {
        flex: 0 0 50%;
    }
    .work {
        flex-direction:row;
        flex-wrap: wrap;
    }
}

@media screen and ( min-width: 992px) {
    .work-card{

    }
}